<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Find me in app/views/home/index.html.erbvvr</p>
<%= link_to 'sign_out', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit Profile', edit_user_registration_path %>
<%= link_to 'Log in', user_session_path %>
<%= link_to 'Create Product', new_product_path%>

